.loader {
	background-color: grey;
	position: absolute;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-o-border-radius: 100px;
	border-radius: 100px;
}

.screen {
	background-color: white;
	position: absolute;
	z-index: 2;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-o-border-radius: 100px;
	border-radius: 100px;
}

.loader h3 {
	width: 100%;
	text-align: center;
}

/** themes **/

.fancy {
	-moz-transform: scale(0.8) rotate(3deg) translateX(0px) translateY(0px) skewX(3deg) skewY(3deg);
	-webkit-transform: scale(0.8) rotate(3deg) translateX(0px) translateY(0px) skewX(3deg) skewY(3deg);
	-o-transform: scale(0.8) rotate(3deg) translateX(0px) translateY(0px) skewX(3deg) skewY(3deg);
	-ms-transform: scale(0.8) rotate(3deg) translateX(0px) translateY(0px) skewX(3deg) skewY(3deg);
	transform: scale(0.8) rotate(3deg) translateX(0px) translateY(0px) skewX(3deg) skewY(3deg); 
}

.shadow {
	-webkit-box-shadow: 3px 3px 20px 8px rgba(2, 2, 2, 2);
	box-shadow: 3px 3px 20px 8px rgba(2, 2, 2, 2);
	font-family:Arnoldboecklin, fantasy;
}

/** dimensions **/

.small { width: 100px; height: 100px; }
.small_screen { width: 70px; height: 70px; left: 15px; top: 15px; }
.small_screen h3 { padding-top: 7px; font-size: 20px; }

.medium { width: 150px; height: 150px; }
.medium_screen { width: 110px; height: 110px; left: 20px; top: 20px; }
.medium_screen h3 { padding-top: 9px; font-size: 30px; }

.large { width: 200px; height: 200px; }
.large_screen { width: 140px; height: 140px; left: 30px; top: 30px; }
.large_screen h3 { font-size: 45px; }